body{
margin: 0;
}
.navbar ul{
    font-family: cursive;
    font-size: 20px;
    text-align: justify;
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: black;
}

#banniere {
    background-image: url("img/jun.jpeg");
    background-size:cover;
    width: 100%;
    height: 700px;
}
.lego{
    padding-top: 150px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: cursive;
}
.lego img{
    border-radius: 15px;
}
.text{
    background-color: rgb(70, 68, 68);
    color: white;
    width: 23%;
    font-size: 21px;
    padding-top: 15px;
    max-height: max-content;  
}
.text1{
    color: white;
    font-size: 15px; ;
}

.enbas{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-family: cursive;
    flex-wrap: wrap;
    padding-top: 100px;
    
}
.enbas .pro{
    width: 30%;
}


.bake {
    font-size: 35px;
    font-family: cursive;
    text-align: center;
    background-color: lightgray;
    height: auto;
    padding: 45px;
}
.bake ol {
    font-size: 17px;
    text-align: justify;
    display: inline;
}
.fas{
    font-size: 150px;
}

.fl{
    flex-wrap:wrap;
    display:flex;
    justify-content: center;
    padding: 0;
}
.fl .wordpress {
    height: 220px; width: 337px;
}
/* -----------------Barres-------------------- */
.daddy h1{
    font-size: 35px;
    text-align: center;
    font-family:cursive;;
}
.daddy p{
    text-align: center;
    font-family: cursive;
    font-size: 14px;
}
/* --------------------- */
.container{
    display: flex;
    flex-wrap: wrap;
    padding-left: 150px;
}
.container *{
    font-family: "Poppins",sans-serif;
}

.details{
    width: 80%;
    display: flex;  
    justify-content: space-between;
    margin-bottom: 10px;
}
.skills{
    width: 40%;
    padding: 70px 50px 0 50px;
}
.bar{
    position: relative;
    
    border: 2px solid #78e462;
    
    border-radius: 20px;

    width: 80%;

}
.bar div{
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: #76f897;


}
.skills:not(:last-child){
    margin-bottom: 30px;
}
/* ----------anim---------------------- */
#pratique-bar{
    animation: html-fill 2s forwards;
}
@keyframes html-fill{
    100%{
        width: 100%;
    }
}

#opp-bar{
    animation: opp-fill 2s forwards;
}
@keyframes opp-fill{
    100%{
        width: 90%;
    }
}

#bake-bar{
    animation: bake-fill 2s forwards;
}
@keyframes bake-fill { 
    100%{
        width: 80%;
    }
}

#neant-bar{
    animation: neant-fill 2s forwards;
}
@keyframes neant-fill{
    100%{
        width: 70%;
    }
} 
  /* -------------------Team-------------------- */
  .team {
    font-size: 35px;
    font-family: cursive;
    text-align: center;
    background-color: rgb(156, 179, 149);
    padding: 58px;
    margin-top: 35px;
    color: white;
}

.ent {
    font-size: 17px;
    text-align: center;
    margin-left: 40px;
}
.pat, .pour{
    display: inline-block;
}
.pat{
    float: left;
}
/* --------------------- */

.wordpress img{
    width: 65%;
    padding-left: 65px;
    padding-top: 30px;
    margin: 0;
    
    
}
.wordpress {
    background-color: rgb(54, 212, 233);
    height: 220px; width: 337px;
}
.wordpress:hover{
opacity: .8;
transform: scale(1.1);
transition: all 0.8s ease-in-out;
}
/* --------------------- */

.html img{
    width: 65%;
    padding-left: 65px;
    padding-top: 30px;
}
.html{
    background-color: rgb(50, 145, 201);
    height: 220px; width: 337px;
}
.html:hover{
    opacity: .8;
    transform: scale(1.1);
    transition: all 0.8s ease-in-out;
    }

/* ------------------------- */
.javas img{
    width: 50%;
    padding-left: 80px;
}
.javas{
    background-color: rgb(111, 124, 89);
    height: 220px; width: 337px;
}
.javas:hover{
    opacity: .8;
    transform: scale(1.1);
    transition: all 0.8s ease-in-out;
    }


/* ----------------------- */

/* ------------------------- */
.java img{
    width: 50%;
    padding-left: 80px;
}
.java{
    background-color: rgb(71, 56, 56);
    height: 220px; width: 337px;
}
.java:hover{
    opacity: .8;
    transform: scale(1.1);
    transition: all 0.8s ease-in-out;
    }

/* ----------------------- */

/* ------------------------- */
.ink img{
    width: 70%;
    padding-left: 50px;
}
.ink{
    background-color: rgb(55, 215, 226);
    height: 220px; width: 337px;
}
.ink:hover{
    opacity: .8;
    transform: scale(1.1);
    transition: all 0.8s ease-in-out;
    }


/* ----------------------- */
/* ------------------------- */
.canva img{
    width: 70%;
    padding-left: 50px;
    padding-top: 35px;
}
.canva{
    background-color: rgb(63, 33, 33);
    height: 220px; width: 337px;
}
.canva:hover{
    opacity: .8;
    transform: scale(1.1);
    transition: all 0.8s ease-in-out;
    }

/* ----------------------- */

/* ------------------------- */
.adobe img{
    width: 60%;
    padding-left: 70px;
}
.adobe{
    background-color: rgb(9, 80, 128);
    height: 220px; width: 337px;
}

.adobe:hover{
    opacity: .8;
    transform: scale(1.1);
    transition: all 0.8s ease-in-out;
    }
/* ----------------------- */
/* ------------------------- */
.python img{
    width: 55%;
    padding-left: 70px;
    padding-top: 30px;
}
.python{
    background-color: rgb(106, 173, 126);
    height: 220px; width: 337px;
}
.python:hover{
    opacity: .8;
    transform: scale(1.1);
    transition: all 0.8s ease-in-out;
    }


/* -----------Team------------ */

.jeune{
    display: flex;
    padding-top: 95px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.humain{
   
    background-color: white;
    color: black;

}
.humain1{
    
    background-color: white;
    color: black;
}
.humain2{
  
    background-color: white;
    color: black;
}
.humain3{
    background-color: white;
    color: black;
}
.fem2{
    background-color: rgb(181, 240, 203);
    
}
.hom1{
    background-color: rgb(240, 143, 143);
}
.fem1{
    background-color: rgb(116, 99, 99);
}
.hom2{
    background-color: rgb(247, 205, 205);
}
/* ------------------------------------------------------ */
.texte_centrer{
    font-size: 20px;
    padding-top: 20px;
    
}
.kids{
    text-align: center;
    padding-top: 45px;
}
.textil{
    text-align: center;
    padding-top: 80px;
    font-family: cursive;
    font-size: 13.5px;
}
.variant{
    text-align: center;
    font-family: cursive;
    padding-top: 55px;
}
#blog{
    background-color: rgb(201, 201, 201);
    width: 100%;
    height: 600px;
}
.info {
    font-size: 18px;
    font-family: cursive;
    padding: 45px;
    text-align: center;
}
.englob{
    display:flex;
    justify-content: space-evenly;
    text-align: justify;
}
.last{
    text-align: center;
    font-size: 25px;
    padding-top: 30px;
}
footer{
    text-align: center;
    padding-top:85px;
}